<h4 class="mt-4">Home Page</h4>

<p *ngIf="user">Logged in as: {{ user?.email }} - {{ user?.displayName }}</p>

<button class="btn btn-primary mr-2" *ngIf="!user" (click)="register()">Register</button>
<button class="btn btn-primary" *ngIf="user" (click)="logout()">Logout</button>
<button class="btn btn-primary" *ngIf="!user" (click)="login()">Login</button>



<app-general-search *ngIf="user">

</app-general-search>
